.App {
  text-align: center;
}

li {
  list-style: none;
}

.container{
  margin:0 auto;
}
.header{
  
  background-color:rgb(236,164,5);
}
.navbar{
 
  max-width:1140px;
  margin:0 auto;
  padding:5px 0;
  font-size:20px;
  display:flex;
  justify-content: space-between;
  align-items:center; 
}

.navbar a{
  font-family:sans-serif;
  font-weight: 1000;
  font-size:1.5em;
  text-decoration:none;
  color:#333;
}
.other{
  display:flex;
}
.sign_up{
  flex:1;
  padding :0 20px;
  border:2px solid #333;
  border-radius:8px;
}
.sign_up:hover{
  background-color:rgb(236,224,200);
}
.sign_in{
  flex:2;
  padding:0 20px;
  margin-left:10px;
  border:2px solid #333;
  border-radius:8px;
}
.sign_in:hover{
  background-color:rgb(236,224,200);
}
.logo{
  padding:0 3px;
}
.logo:hover{
  color:white;
}
.boke:hover{
  background-color:#b1ab99;
}
.theme:hover{
  
  background-color:#b1ab99;
}

.line{
  padding-top:4px;
  background-color:#ffe400;
}

.contents{
  background-color:rgb(236,224,200);
  display:flex;
}
.picture1{
  flex:1;
  margin:20px;
  align-items:center;
  background-color:#333;
}
.picture1 img{
  max-width:100%;
}
.picture1 img:active{
 
  height: 0;
	padding: 0;
	overflow: hidden;
  flex:1;
  margin:105px;
  align-items:center;
}
.picture2{
  flex:1;
  margin:20px;
  align-items:center;
}
.picture2 img{
  max-width:100%;
}
.picture3{
  flex:1;
  margin:20px;
  align-items:center;
}
.picture3 img{
  max-width:100%;
}
.picture4{
  flex:1;
  margin:20px;
  align-items:center;
}
.picture4 img{
  max-width:100%;
}

.buttons{
  display:flex;
}
.upload{
  flex:1;
  margin:30px;
  border:2px solid #333;
  border-radius:24px;
  font-size:1.5em;
  padding:10px 0;
  cursor: pointer;
  color:#333;
  font-family:sans-serif;
  font-weight: 1000;
}
.upload:hover{
  background-color:rgb(236,224,200);
}
.game{
  flex:1;
  margin:30px;
  border:2px solid #333;
  border-radius:24px;
  font-size:1.5em;
  padding:10px 0;
  cursor: pointer;
  color:#333;
  font-family:sans-serif;
  font-weight: 1000;
}
.game:hover{
  background-color:rgb(236,224,200);
}
.vote{
  flex:1;
  margin:30px;
  border:2px solid #333;
  border-radius:24px;
  font-size:1.5em;
  padding:10px 0;
  cursor: pointer;
  color:#333;
  font-family:sans-serif;
  font-weight: 1000;
}
.vote:hover{
  background-color:rgb(236,224,200);
}
h2{
  padding-left:3px;
}

.footer{
  font-family:sans-serif;
  font-weight: 1000;
  font-size:1.5em;
  height:50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:rgb(236,164,5);
  min-height: 100vh;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #333;
  font-family:sans-serif;
  font-weight: 1000;
}

.App-link {
  color: #61dafb;
}

.test{
  background-color:gray;
}
.test:after{
  animation:App-logo-spin;
}
.test:hover:after{
  animation-name:App-logo-spin;

}
@keyframes App-logo-spin {
  from {
    transform: scaleY(1);     
  }
  to {
    transform: scaleY(0);
  }
}
button {
  flex:1;
  margin:0 30px;
  border:2px solid #333;
  border-radius:24px;
  background-color:rgb(236,164,5);
  
}
.primary {
  background-color: blue;
}
.secondary {
  background-color: red;
}